{% extends 'base.html' %}

{% block content %}
    <body>
    <p>ISBN: {{book.isbn}}</p>
    <h2>{{book.title}}</h2>
    <img src={{book.image_url_m}} alt={{book.title}}>
    <h4>Written by {{book.author}}</h4>
    <p>Published in {{book.year_of_publish}}</p>

    <button id="like" onclick="like({{book.pk}})">Like</button>
    <table id ="likedBy">
    </table>

    <script>
        /*
        Pas pertama kali window load, cek apakah user pernah like bukunya
        Setelah itu build html yg isinya semua orang yg pernah like
        */
        window.onload = function(){
            const form = new FormData()
            form.append("id", {{book.pk}})
            console.log({{book.pk}})

            fetch("{% url 'main:like_dislike' %}",{
                method : "POST",
                body : form
            }).then((like_or_dislike) => like_or_dislike.json()).then((res) => did_like(res)).then((data) => build_like({{book.pk}}))
        }

        /*
        Function yang berguna untuk menambahkan like ke buku lalu merubah isi tabel user
        yang pernah like bukunya
        menerima parameter id buku
        */
        // ID user
        async function like(id){
            const formData = new FormData()
            formData.append("id", id)

            const form = new FormData()
            form.append("id", id)
            
            fetch("{% url 'main:add_like_ajax' %}", {
                method: "POST",
                body: formData
            }).then(data => fetch("{% url 'main:like_dislike' %}",{
                method : "POST",
                body : form
            })).then((like_or_dislike) => like_or_dislike.json()).then((res) => did_like(res)).then((data) => build_like({{book.pk}}))
        }

        /*
        Function untuk mengubah tabel berisi user yang pernah like
        digunakan untuk DEBUGGING. jika ingin di-comment out silahkan saja
        Menerima id buku
        */
        async function build_like(id){
            var likes = await see_like(id)
            res = `<tr>
                <th>by</th>
                <th>book</th>
                </tr>`
            console.log("likes "+ likes)
            likes.forEach((l)=>{
                res+=`\n<tr>
                    <td>${l.fields.user}</td>
                    <td>${l.fields.book}</td>
                </tr>` 
            })
            document.getElementById('likedBy').innerHTML =res
        }

        /*
        Function yang cek apakah user pernah like bukunya
        Menerima parameter json yang berisi 1 atau 0 like milik request.user terhadap buku
        */
        function did_like(like_or_dislike){
            var like_or_dislike = like_or_dislike
            var length_temp=0
            // console.log("did_like "+ like_or_dislike)
            like_or_dislike.forEach((lod)=>{
                length_temp+=1
            })

            // console.log(length_temp)

            if(length_temp==1){
                document.getElementById('like').style.color = "blue";
            }
            else{
                document.getElementById('like').style.color = "black";
            }
        }

        /*
        Function ini untuk MENDAPATKAN siapa saja yang like buku ini.
        digunakan untuk debugging, sehingga jika ingin di comment out silahkan
        menerima parameter id buku.
        */
        async function see_like(bookId){
            const formData= new FormData()
            formData.append("id", bookId)
            return fetch("{% url 'main:see_like_ajax' %}", {
                method: "POST",
                body: formData
            }).then((res) => res.json())
        }
    </script>
{%endblock%}