{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}
<div class="container" style="align-content: center; height: 100vh; margin-top: 100px; ">
    <div class="row justify-content-center" style="margin-right: 40px;">
        <div class="col-lg-6 col-md-12" style="color: #ffffff;">
            <h1 class="text-center" style="margin-bottom: 20px;">Login</h1>

            <form method="POST" action="">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username:</label>
                    <input type="text" name="username" placeholder="Username" class="form-control" style="padding: 10px;">
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" name="password" placeholder="Password" class="form-control" style="padding: 10px;">
                </div>

                <input style="--bs-btn-hover-border-color: black; --bs-btn-border-color: black;" class="btn login_btn mb-3" type="submit" value="Login">
            </form>
            {% for message in messages %}
        <p>{{message}}</p>
    {% endfor %}
            <p>Don't have an account yet? <a href="{% url 'main:register' %}">Register Now</a></p>
        </div>
    </div>
</div>
{% endblock content %}
