{% extends 'base.html' %}

{% block content %}
<div class="container" style="color: #ffffff; text-align: center; margin-bottom: 40px;">
    <div class="row">
        <div class="col-sm-12">
            <h2>PROFILE</h2>
            <h4 id="username">{{profile.user.username}}</h4>
            {% if profile.profile_picture %}
            <div style="width: 50%; height: auto; margin: 10px auto;">
                <img id="profile_picture" class="img-fluid" src={{profile.profile_picture.url}} alt="profile" />
            </div>
            {% endif %}
            <br />
            <p id="address">Address: {{profile.address}}</p>
            <p id="email">Email: {{profile.email}}</p>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="color: black;">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Update Profile</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="color: black;text-align: left;">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="Username" class="col-form-label">Username:</label>
                            <input type="text" class="form-control" id="Username" name="Username"></input>
                        </div>
                        <div class="mb-3">
                            <label for="profile_picture" class="col-form-label">Profile Picture:</label>
                            <input type="file" class="form-control" id="profile_picture" name="profile_picture" accept="image/*"></input>
                            {% comment %} <input type="text" class="form-control" id="profile_picture" name="profile_picture"></input> {% endcomment %}
                        </div>
                        <div class="mb-3">
                            <label for="Address" class="col-form-label">Address:</label>
                            <input type="text" class="form-control" id="Address" name="Address"></input>
                        </div>
                        <div class="mb-3">
                            <label for="Email" class="col-form-label">Email:</label>
                            <input type="text" class="form-control" id="Email" name="Email"></input>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal" onclick="update({{profile.user.pk}})">Update</button>
                </div>
            </div>
        </div>
    </div>
    {% if self_profile %}
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Update Profile</button>
    {% endif %}
    <br>

    <h4>Books you've liked</h4>
    <div class="carousel-container" style="height: 400px; width: 300px; overflow: hidden; position: relative;">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for like in books_you_like %}
                <div class="carousel-item {% if forloop.first %} active {% endif %}">
                    <a href="{% url 'main:book_review' like.book.pk %}">
                        <img class="d-block w-100" src="{{like.book.image_url_l}}" alt="Book Image">
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="flex" style="justify-content: center;align-items: center;text-align: center;">

                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" style="background-color: red;height: 50px;margin-top: 200px;">
                    <i class="fas fa-arrow-left"></i>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next" style="background-color: red; height: 50px;margin-top: 200px;">
                    <i class="fas fa-arrow-right"></i>
                </a>
            </div>
            
        </div>
    </div>
    

    
        </div>
    <script>
        async function refresh_profile(data){
            //console.log(data)
            data.forEach(profile=>{
                //console.log(profile.fields.email)
                document.getElementById("email").innerHTML=`${profile.fields.email}`
                document.getElementById("address").innerHTML=`${profile.fields.address}`
                document.getElementById("username").innerHTML=`${get_new_username(profile.fields.user)}`
                if(profile.fields.profile_picture){
                    document.getElementById("profile_picture").src=`../media/${profile.fields.profile_picture}`
                }

            })
        }

        async function get_new_username(user_id){
            const form = new FormData()
            form.append("id", user_id)
            user = await fetch("{% url 'main:get_username' %}", {
                method: "POST",
                body:form
            }).then((user)=>user.json()).then((user)=>user.forEach((u)=>{
                console.log(u)
                document.getElementById("username").innerHTML= `${u.fields.username}`
            }))
            
        }

        function update(user_id){
            //console.log("update")
            var form = new FormData(document.querySelector('#form'))
            form.append("id", user_id)
            //console.log('before fetch')

            fetch("{% url 'main:update_profile' %}", {
                method: "POST",
                body:form
            }).then(data=>data.json()).then((data)=>refresh_profile(data))

            //console.log("after fetch")
            document.getElementById("form").reset()
            return false
        }
    </script>
{% endblock content%}