{% extends 'base.html' %}

{% block content %}
    <h2>PROFILE</h2>
    {% for m in messages %}
        <p>{{m}}</p>
    {% endfor %}
    <h4 id="username">{{profile.user.username}}</h4>
    {% if profile.profile_picture %}
        <img id="profile_picture" style="width:20%; height:20%"src={{profile.profile_picture.url}} alt="profile"/>
    {% endif %}
    <br/>
    <p id="address">Address : {{profile.address}}</p>
    <p id="email">Email : {{profile.email}}</p>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Update Profile</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="Username" class="col-form-label">Username:</label>
                            <input type="text" class="form-control" id="Username" name="Username"></input>
                        </div>
                        <div class="mb-3">
                            <label for="profile_picture" class="col-form-label">Profile Picture:</label>
                            <input type="file" class="form-control" id="profile_picture" name="profile_picture" accept="image/*"></input>
                            {% comment %} <input type="text" class="form-control" id="profile_picture" name="profile_picture"></input> {% endcomment %}
                        </div>
                        <div class="mb-3">
                            <label for="Address" class="col-form-label">Address:</label>
                            <input type="text" class="form-control" id="Address" name="Address"></input>
                        </div>
                        <div class="mb-3">
                            <label for="Email" class="col-form-label">Email:</label>
                            <input type="text" class="form-control" id="Email" name="Email"></input>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal" onclick="update({{profile.user.pk}})">Update Profile</button>
                </div>
            </div>
        </div>
    </div>
    {% if self_profile %}
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Update Profile</button>
    {% endif %}
    <br>

    <h4>Books you've liked</h4>

    {% for like in books_you_like %}
        <a href="{% url 'main:book_review' like.book.pk %}">{{like.book.title}}</p>
    {% endfor %}

    <script>
        async function refresh_profile(data){
            //console.log(data)
            data.forEach(profile=>{
                //console.log(profile.fields.email)
                document.getElementById("email").innerHTML=`${profile.fields.email}`
                document.getElementById("address").innerHTML=`${profile.fields.address}`
                document.getElementById("username").innerHTML=`${get_new_username(profile.fields.user)}`
                if(profile.fields.profile_picture){
                    document.getElementById("profile_picture").src=`../media/${profile.fields.profile_picture}`
                }

            })
        }

        async function get_new_username(user_id){
            const form = new FormData()
            form.append("id", user_id)
            user = await fetch("{% url 'main:get_username' %}", {
                method: "POST",
                body:form
            }).then((user)=>user.json()).then((user)=>user.forEach((u)=>{
                console.log(u)
                document.getElementById("username").innerHTML= `${u.fields.username}`
            }))
            
        }

        function update(user_id){
            //console.log("update")
            var form = new FormData(document.querySelector('#form'))
            form.append("id", user_id)
            //console.log('before fetch')

            fetch("{% url 'main:update_profile' %}", {
                method: "POST",
                body:form
            }).then(data=>data.json()).then((data)=>refresh_profile(data))

            //console.log("after fetch")
            document.getElementById("form").reset()
            return false
        }
    </script>
{% endblock content%}