{% extends 'base.html' %}

{% block meta %}
    <title>Register</title>
    <style>
        table tr {
            padding-right: 5px;
        }
    </style>
{% endblock meta %}

{% block content %}

<div class="container" style="color: #ffffff; margin-top: 50px;">
    <h1 style="margin-bottom: 40px;">Register</h1>  

    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.as_p }}
        </div>
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" name="submit" value="Daftar"/>
        </div>
    </form>

    <p class="text-center">Already have an account? <a href="{% url 'main:login' %}">Login</a></p>
</div>

{% endblock content %}
